/* main.css */
/* Estilos para el sitio web */
.montserrat-Weight {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:900;
  font-style: normal;
}
body{
		margin: 0;
		padding: 0;
		width: 100vw;
    height: 100%;
		box-sizing: border-box;
		font-family: 'Montserrat', sans-serif;
		background-color: #f0f8ff;
		background-image: url("../assets/trianglify-lowres.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		 display: flex;
		flex-direction: column;
    justify-content: center;
		align-items: center;
		scroll-behavior: smooth;
}
.container {
    display: flex;
		flex-direction: column;
    align-items: center;
		width: 90vw;

		gap: 20px;
		padding: 50px;
}
 .container .blog{
	width: 60vw;
	text-align: center;
}
#breathing-container {
    text-align: center;
    border-radius: 10px;
		width: 100%;
		background-color:rgba(255, 255, 255, 0.26);
		backdrop-filter: blur(6px) contrast(159%) grayscale(43%) saturate(179%);
}
#breathing-text {
    font-size: 5em;
}
#time-bar{
		height: 100%;
		background-color:rgba(255, 255, 255, 0.507);
		backdrop-filter: blur(6px) contrast(159%) grayscale(43%) saturate(179%);
		transition: width 0.1s linear;
		border-radius: 10px;
		position:absolute;
		z-index: -1;
		 display: flex;
		 justify-content: center;
		 align-items: center;
}
button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
		width: 100%;
		height: 100px;
		font-size: 2em;
		border-radius: 10px;
		border: none;
}
button:hover {
		background-color: #f0f8ff;
		color: #000;
}
h1{
		font-size: 2em;
		font-weight: 100;
		text-align: center;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #3877aa86;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 0.7em;
    color: #333;
}
/*
 * Estilos para el sitio web
 */
 nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #0416688f;
    z-index: 1000;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0;
    padding: 0;
}
nav ul li a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}
nav ul li a:hover {
    background-color: #09247060;
}
img{max-width:100%;height:auto}

.hero-image{max-width:500px;width:100%;display:block;margin:18px auto;border-radius:8px}
