/* main.css */

/* Estilos para el sitio web */

body {
    display: flex;
		flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
		gap: 20px;
}

#breathing-container {

    text-align: center;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
		width: 100%;
}

#breathing-text {
    font-size: 4em;
}

section {
    margin-bottom: 20px;
}

